.checkout-confirmation-cover {
    background-color: #eee;
    margin-top: 64px;
    min-height: 700px;
}

.checkout-confirmation-container {
    background-color: white;
    border-radius: 5px;
    color: black;
}

.my-row {
    display: flex;
    margin-top: 1rem;
    justify-content: center;
    align-content: center;
}

.my-text-input {
    width: 100% !important;
}

.place-order> button {
    background-color: #ff424e;
    border: 1px solid #ff424e;
    color: white;
    border-radius: 5px;
    min-width: 140px;
    max-width: 250px;
    min-height: 40px;
    font-size: 1.25rem;
    font-weight: 700;
    transition-duration: 250ms;
}

.place-order> button :hover {
    color: white;
    border: 1px solid #ff424e;
    background-color: #ff0f1e;
}