:root {
  --main-color: #5FA8D3;
}

body {
  margin: 0;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  color: white;
  background-color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.remove-outline {
  outline: 0 !important;
  -webkit-appearance: none;
  box-shadow: none !important;
}